* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  border: 0;
  outline: 0;
  /* text-transform: capitalize; */
  text-decoration: none;
  transition: all 0.3s linear;
}

:root {
  --yellow-clr: #ffc63d;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

*::selection {
  background: var(--yellow-clr);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background: #282828;
}

section {
  padding: 2rem 9%;
}

.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  border: 0.2rem solid var(--yellow-clr);
  color: var(--yellow-clr);
  background: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1rem;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: var(--yellow-clr);
  z-index: -1;
  transition: 0.3s;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  color: #fff;
}

/* Banner section start */

.contacts-banner {
  min-height: 60vh;
  background: url(img/contacts/contacts-bg.jpg) no-repeat center/cover;
  border-image: fill 0 linear-gradient(#0003, #000);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contacts-banner .content {
  color: #fff;
}

.contacts-banner .content h2 {
  font-size: calc(30px + (65 - 30) * ((100vw - 300px) / (1600 - 300)));
}

.contacts-banner .content p {
  max-width: 60rem;
  font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
  padding: 1rem;
}
/* Banner section end */

/* Contacts-information section Start */

.contacts-info {
  min-height: 50vh;
  background: url(img/contacts/info-bg.jpg) no-repeat center/cover;
  border-image: fill 0 linear-gradient(#0009, #000);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contacts-info .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  gap: 1.5rem;
}

.contacts-info .box-container .box {
  flex: 1 1 30rem;
  background: rgba(91, 92, 92, 0.6);
  padding: 2rem;
  border: 2px solid rgba(78, 80, 82, 0.5);
  backdrop-filter: blur(1px);
}
.contacts-info .box-container h3 {
  font-size: calc(25px + (50 - 25) * ((100vw - 300px) / (1600 - 300)));
  color: #fff;
}

.contacts-info .box-container p,
.contacts-info .box-container .box address {
  font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
  color: #fff;
}

.contacts-info .box-container .box:nth-child(2) p:nth-child(even) {
  font-weight: 800;
}
/* Contacts-information section End */

/* Contacts section form Start*/

.get-in-touch {
  min-height: 60vh;
  background: var(--yellow-clr);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  max-width: 60rem;
  padding: 2rem 2.5rem;
  background-color: #222;
  border-radius: 0.8rem;
}

.form input,
.form textarea {
  width: 100%;
  margin: 1rem 0;
  padding: 2rem 1rem;
}

.form textarea {
  height: 15rem;
  resize: none;
}

/* Footer section start */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer .copyright {
  margin-top: 3rem;
  color: #fff;
  font-size: calc(12px + (15- 12) * ((100vw - 300px) / (1600 - 300)));
}

.footer .copyright span {
  color: var(--yellow-clr);
}
/* Footer section end */

@media (max-width: 937px) {
  .footer .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

/* Contacts section form End*/
