* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  border: 0;
  outline: 0;
  /* text-transform: capitalize; */
  text-decoration: none;
  transition: all 0.3s linear;
}

:root {
  --yellow-clr: #ffc63d;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

*::selection {
  background: var(--yellow-clr);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background: #282828;
}

section {
  padding: 2rem 9%;
}

.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  border: 0.2rem solid var(--yellow-clr);
  color: var(--yellow-clr);
  background: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1rem;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: var(--yellow-clr);
  z-index: -1;
  transition: 0.3s;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  color: #fff;
}

/* Header start */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 8%;
  box-shadow: var(--box-shadow);
}

header .logo {
  font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 800;
  color: var(--yellow-clr);
}

header .logo i {
  color: #222;
}

header ul.navbar {
  display: flex;
  list-style: none;
}

header ul.navbar li {
  margin: 0rem 1rem;
}

header ul.navbar li a {
  color: #222;
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}

header ul.navbar li a:hover {
  color: var(--yellow-clr);
}

#menu-bar {
  font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
  cursor: pointer;
  color: #222;
  border: 0.1rem solid #222;
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  display: none;
}
/* Header End */

/* Home section start*/
.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/homepage-bg.jpg) no-repeat center/cover;
}

.home .content {
  flex: 1 1 40rem;
  padding: 6.5rem;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  max-width: 100%;
  padding: 1rem;
  animation: move 3s linear infinite;
}

@keyframes move {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3rem);
  }
}

.home .content h3 {
  color: #fff;
  font-size: calc(30px + (65 - 30) * ((100vw - 300px) / (1600 - 300)));
}

.home .content h3 span {
  color: green;
}

.home .content p {
  color: #fff;
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}
/* Home section end*/

/* Programs section start */

.programs {
  background: var(--yellow-clr);
  min-height: 100vh;
}

.programs .heading {
  text-align: center;
  font-size: calc(30px + (65 - 30) * ((100vw - 300px) / (1600 - 300)));
  padding: 1rem;
  color: #222;
  margin-bottom: 3rem;
}

.programs .heading span {
  background: #222;
  color: var(--yellow-clr);
  padding: 0.5rem;
  border-radius: 1rem;
}

.programs .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.programs .box-container .box {
  flex: 1 1 35rem;
  position: relative;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.programs .box-container .box .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
}

.programs .box-container .box .content {
  text-align: center;
  background: #fff;
  padding: 2rem;
}

.programs .box-container .box .content img {
  width: 10rem;
  margin: 1.5rem 0rem;
}

.programs .box-container .box .content h3 {
  font-size: calc(18px + (35 - 30) * ((100vw - 300px) / (1600 - 300)));
  margin: 1rem 0rem;
}

.programs .box-container .box .content p {
  font-size: calc(12px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
  padding: 1rem;
}

.programs .box-container .box:hover .image {
  top: 0;
  cursor: pointer;
}

.programs .box-container .box:hover .content {
  transform: translateY(100%);
  transition: 1.2s; /**/
}

/* Programs section end */

/* Join section start  */

.join {
  min-height: 70vh;
  background: url(img/join.jpg) no-repeat center/cover;
}

.join .content {
  margin-top: 10%;
  margin-left: 10%;
}

.join .content h3 {
  font-size: calc(30px + (80 - 30) * ((100vw - 300px) / (1600 - 300)));
  color: #fff;
}

.join .content h3 span {
  color: var(--yellow-clr);
}

.join .content ul {
  font-size: calc(18px + (35 - 18) * ((100vw - 300px) / (1600 - 300)));
  color: #fff;
  margin-left: 3rem;
}
/* Join section end  */

/* Gallery section start  */

.photo-gallery {
  min-height: 100vh;
  background-color: var(--yellow-clr);
}

.photo-gallery .heading {
  text-align: center;
  font-size: calc(30px + (65 - 30) * ((100vw - 300px) / (1600 - 300)));
  padding: 1rem;
  color: #222;
  margin-bottom: 3rem;
}

.photo-gallery .heading span {
  background: #222;
  color: var(--yellow-clr);
  padding: 0.5rem;
  border-radius: 1rem;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
}
.gallery a {
  width: 35rem;
  height: 20rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.gallery a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery a img:hover {
  transform: scale(1.3);
}
/* Gallery section end  */

/* review section start  */

.review {
  min-height: 50vh;
}

.review .heading {
  text-align: center;
  font-size: calc(30px + (65 - 30) * ((100vw - 300px) / (1600 - 300)));
  padding: 1rem;
  color: #fff;
  margin-bottom: 3rem;
}

.review .heading span {
  background: #fff;
  color: var(--yellow-clr);
  padding: 0.5rem;
  border-radius: 1rem;
}

.review .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review .box-container .box {
  text-align: center;
  padding: 2rem;
  border: 0.1rem solid #fff;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  flex: 1 1 25rem;
  background-color: #222;
  margin-top: 5rem;
}

.review .box-container .box img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 50%;
  border: 1rem solid #fff;
  margin-top: -8rem;
}

.review .box-container .box h4 {
  font-size: calc(16px + (30 - 16) * ((100vw - 300px) / (1600 - 300)));
  color: #fff;
}

.review .box-container .box i {
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  color: orange;
  margin-bottom: 1.5rem;
}

.review .box-container .box p {
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  color: #fff;
}
/* review section end  */

/* Footer section start */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer .copyright {
  margin-top: 3rem;
  color: #fff;
  font-size: calc(12px + (15- 12) * ((100vw - 300px) / (1600 - 300)));
}

.footer .copyright span {
  color: var(--yellow-clr);
}
/* Footer section end */

/* Loader start  */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container img {
  height: 15rem;
}

.loader-container.active {
  display: none;
}
/* Loader end */

/* Media queries */
@media (max-width: 768px) {
  #menu-bar {
    display: block;
  }
  header .navbar {
    position: absolute;
    top: 120%;
    right: 2rem;
    border-radius: 0.5rem;
    border: 0.3rem solid var(--yellow-clr);
    box-shadow: var(--box-shadow);
    width: 30rem;
    background: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar li {
    padding: 1.5rem;
    border: 0.2rem solid rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  header .navbar li:hover {
    border-left: 0.5rem solid var(--yellow-clr);
    border-right: 0.5rem solid var(--yellow-clr);
  }
}

@media (max-width: 937px) {
  .footer .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
