* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  border: 0;
  outline: 0;
  /* text-transform: capitalize; */
  text-decoration: none;
  transition: all 0.3s linear;
}

:root {
  --yellow-clr: #ffc63d;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

*::selection {
  background: var(--yellow-clr);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  background: #282828;
}

section {
  padding: 2rem 9%;
}

.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
  border: 0.2rem solid var(--yellow-clr);
  color: var(--yellow-clr);
  background: transparent;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 1rem;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: var(--yellow-clr);
  z-index: -1;
  transition: 0.3s;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  color: #fff;
}

/* Team section start  */
.team {
  min-height: 60vh;
  background: url(img/team/team-bg.jpg) no-repeat center/cover;
  border-image: fill 0 linear-gradient(#0003, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.team h2 {
  color: #fff;
  font-size: calc(35px + (100 - 35) * ((100vw - 300px) / (1600 - 300)));
}
/* Team section end  */

/* trainers section start */
.trainers {
  min-height: 100vh;
  background: #282828;
}

.trainers .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  gap: 1.5rem;
}

.trainers .box-container .box {
  flex: 1 1 25rem;
  border: 0.2rem solid var(--yellow-clr);
  text-align: center;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trainers .box-container .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trainers .box-container .box .box-content {
  color: #fff;
}

.trainers .box-container .box .box-content h4 {
  font-size: calc(16px + (25 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.trainers .box-container .box .box-content p {
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  padding: 1rem;
}

/* Footer section start */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer .copyright {
  margin-top: 3rem;
  color: #fff;
  font-size: calc(12px + (15- 12) * ((100vw - 300px) / (1600 - 300)));
}

.footer .copyright span {
  color: var(--yellow-clr);
}

@media (max-width: 860px) {
  .footer .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

/* Footer section end */

/* trainers section end */
